<div id="result">
  <% if @result >= 12 %>
  <div href="#" class="winner text-center">
    Winner &nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i>
  </div>
  <div class="wish-msg">
   Congrats <span><%= @user.user_name%></span>Please collect your goodies!
 </div>
 <% else %>
 <div href="#" class="winner text-center">
 Thanks for Playing.
 </div>
 <div class="wish-msg">
 </div>
 <% end %>
</div>
<div style="margin-left:1000px;">
  <%= link_to "Home", root_path,:class=> " btn btn-primary" %>
</div>