<div id="result">
<div href="#" class="winner text-center">
	Winner &nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i>
</div>
<div class="wish-msg">
   Congrats <span><%= @user.user_name%></span>  your <%= @result %> answers are correct among 20, Please collect your goodies!
</div>
</div>

<div style="margin-left:1000px;">
<%= link_to "Home", root_path,:class=> " btn btn-primary" %>
</div>
