<h1>Hi <%= @user.user_name %>!</h1>
<%= button_tag "start",:id=>"start", :value => "#{@user.id}"%>
<div class="box active" style="height: 28px;" id="countdowntimer">
  <span id="future_date" style="font-size: 22px;"><span>
	<div id="countdown"></div>
</div><br><br>
<div id="question">
<br><br>
<%= render partial: 'user_question'%>
</div>