<div class="row">
<div id="user_question">
	<%= render partial: 'user_question'%>
</div>
	<%= render partial: 'timer',:locals  =>	{ :user => @user}%>
</div>
<script type="text/javascript">
	$("#user_question").hide().fadeIn(1000);
</script>

