<div class="row">
 <div class="col-sm-3 col-sm-offset-2">
  <div class="timer">
    <div class="row">
      <div class="col-sm-5 text-center">
        <div>03 </div>
      </div>
      <div class="col-sm-2"> : </div>
      <div class="col-sm-5"> 00</div>
    </div>
    <div class="row min-sec">
      <div class="col-sm-5 text-center">
        <div>minutes </div>
      </div>
      <div class="col-sm-2">  </div>
      <div class="col-sm-5"> seconds</div>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div href="#" class="start" id="timer_start" value = "<%= @user.id %>">
   <%= link_to 'start &nbsp;&nbsp;&nbsp;''<i class="fa fa-angle-right arrow-icon"></i>'.html_safe,user_path(@user) -%>
 </div>
</div>
</div>
