/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .box {
 	width: 50px;
 	height: 50px;
 	margin-left: 1000px;
 	margin-top: -80px;
 }

 .active {
 	background: #9BE;
 	border: 3px solid #8AD;
 }

 .inactive {
 	background: #D33;
 	border: 3px solid #C22;
 }

 #countdown {
 	font-size: 22px;
 	color: #444;
 	text-align: center;
 	padding: 10px;
 }