<nav class="">
<div class="container-fluid" id="top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="logo"><%= image_tag "qwnix_logo.png", :alt=>"logo", :class=>"logo" %></a>
  </div>
  <div class="collapse navbar-collapse">
    <% if session[:user_id].present? %>
    <p class="navbar-right intro" style="color: white;"><%= User.find(session[:user_id]).user_name.titleize %></p>
    <% else %>
    <% end %>
  </div>
</div>
</nav>